.my-account .title {
    border-bottom: 1px solid #ebebeb;
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 24px
}

.register .title {
    border-bottom: 1px solid #ebebeb;
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 24px
}

.myaccount-tab-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff
}

.myaccount-tab-menu a {
    border: 1px solid #ebebeb;
    border-bottom: 0;
    color: #32383e;
    font-weight: 500;
    display: block;
    padding: 15px 15px 13px;
    line-height: 30px;
    font-size: 15px;
    text-transform: uppercase
}

.myaccount-tab-menu a:last-child {
    border-bottom: 1px solid #ebebeb
}

.myaccount-tab-menu a:hover,
.myaccount-tab-menu a.active {
    background-color: #2b46a8;
    color: #fff
}

.myaccount-tab-menu a i {
    font-size: 14px;
    text-align: center;
    width: 25px
}

.myaccount-content {
    background-color: #fff;
    font-size: 14px;
    border: 1px solid #ebebeb;
    padding: 30px
}

@media only screen and (max-width:575px) {
    .myaccount-content {
        padding: 20px 15px
    }
}

.myaccount-content h3,
.myaccount-content .h3 {
    border-bottom: 1px solid #ebebeb;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 20px
}

.myaccount-content .welcome a {
    color: #32383e
}

.myaccount-content .welcome a:hover {
    color: #fe6022
}

.myaccount-content .welcome strong {
    font-weight: 600
}

.myaccount-content a.edit-address-btn {
    border-color: #333
}

.myaccount-content a.edit-address-btn i {
    padding-right: 5px
}

.myaccount-content a.edit-address-btn:hover {
    color: #fe6022
}

.myaccount-table {
    white-space: nowrap;
    font-size: 15px
}

.myaccount-table table th,
.myaccount-table .table th {
    padding: 10px;
    font-weight: 600
}

.myaccount-table table td,
.myaccount-table .table td {
    padding: 20px 10px;
    vertical-align: middle
}

.myaccount-table table td a:hover,
.myaccount-table .table td a:hover {
    color: #fff
}

.saved-message {
    font-weight: 600;
    font-size: 13px;
    padding: 20px
}

.account-details-form h4,
.account-details-form .h4 {
    text-transform: capitalize;
    margin: 0;
    color: #32383e;
    font-weight: 500;
    font-size: 18px
}

.table .thead-light th {
    background-color: #e9ecef;
    border-color: #dee2e6
}

.account-details-form input[type="text"],
.account-details-form input[type="email"],
.account-details-form input[type="url"],
.account-details-form input[type="password"],
.account-details-form input[type="search"],
.account-details-form input[type="number"],
.account-details-form input[type="tel"] {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ebebeb;
    font-size: 14px;
    color: #63696f;
    padding: .8rem 1.6rem;
    height: 38px;
    line-height: 1.25;
    border-radius: 0
}